@using PagedList.Mvc;
@model PagedList.IPagedList<elektronische_componenten.Models.Component>

@{
    ViewBag.Title = "Componenten";
}

<h2>Overzicht componenten</h2>

<div class="container">
    <div class="jumbotron">

        @using (Html.BeginForm("Index", "Component", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.Label("Naam")
                @Html.TextBox("SearchString", ViewBag.currentFilter as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Categorie")
                @Html.DropDownList("categorieId", (SelectList)ViewBag.CategorieList, String.Empty, new { @class = "form-control" })
            </div>
            <br />
            <button type="submit" class="btn btn-default">Filter</button>
        }

    </div>


    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Categorie", "Index", new { sortOrder = ViewBag.CategorieSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal", "Index", new { sortOrder = ViewBag.AantalSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aankoopprijs", "Index", new { sortOrder = ViewBag.PrijsSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@item.Datasheet">
                            @Html.DisplayFor(modelItem => item.Naam)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categorie.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aantal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aankoopprijs)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = ".glyphicon-menu-hamburger" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }
        </table>

        <br />
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>

    <div class="row">
        <input type="button" class="btn btn-primary" value="Component toevoegen" onclick="location.href='@Url.Action("Create", "Component")'">
    </div>
</div>
