@using PagedList.Mvc;
@model PagedList.IPagedList<elektronische_componenten.Models.Component>

@{
    ViewBag.Title = "Componenten";
}

<h2>Overzicht componenten</h2>

<div class="container">

    @using (Html.BeginForm("Index", "Component", FormMethod.Get))
    {
        <div class="row" style="font-weight:bold;margin-bottom:30px;">
            Naam: @Html.TextBox("SearchString")
            Categorie: @Html.DropDownList("categorieId", string.Empty)

            <input type="submit" value="Filter" />
        </div>
    }

    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Categorie", "Index", new { sortOrder = ViewBag.CategorieSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aantal", "Index", new { sortOrder = ViewBag.AantalSortParm })
                </th>
                <th>
                    @Html.ActionLink("Aankoopprijs", "Index", new { sortOrder = ViewBag.PrijsSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@item.Datasheet">
                            @Html.DisplayFor(modelItem => item.Naam)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categorie.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aantal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aankoopprijs)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>

        <br />
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>

    <div class="row">
        <input type="button" class="btn btn-primary" value="Component toevoegen" onclick="location.href='@Url.Action("Create", "Component")'">
    </div>
</div>
